<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>image/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{803, 492}, {100, 65}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 65}}</string>
			<key>sourceSize</key>
			<string>{100, 65}</string>
		</dict>
		<key>image/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 492}, {565, 800}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {565, 800}}</string>
			<key>sourceSize</key>
			<string>{565, 800}</string>
		</dict>
		<key>image/cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 1059}, {492, 720}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {492, 720}}</string>
			<key>sourceSize</key>
			<string>{492, 720}</string>
		</dict>
		<key>image/image_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1059}, {565, 800}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {565, 800}}</string>
			<key>sourceSize</key>
			<string>{565, 800}</string>
		</dict>
		<key>image/merge.png</key>
		<dict>
			<key>frame</key>
			<string>{{1084, 1410}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>image/plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{568, 1781}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>image/rainbow-jpg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1576, 896}, {373, 480}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {373, 480}}</string>
			<key>sourceSize</key>
			<string>{373, 480}</string>
		</dict>
		<key>image/rainbow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {900, 489}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {900, 489}}</string>
			<key>sourceSize</key>
			<string>{900, 489}</string>
		</dict>
		<key>image/square.png</key>
		<dict>
			<key>frame</key>
			<string>{{903, 1}, {895, 893}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {895, 893}}</string>
			<key>sourceSize</key>
			<string>{895, 893}</string>
		</dict>
		<key>image/to.png</key>
		<dict>
			<key>frame</key>
			<string>{{1062, 896}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>image/victory.png</key>
		<dict>
			<key>frame</key>
			<string>{{826, 1781}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>image.png</string>
	</dict>
</dict>
</plist>
