<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>image/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1603, 981}, {200, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 130}}</string>
			<key>sourceSize</key>
			<string>{200, 130}</string>
		</dict>
		<key>image/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 981}, {1130, 1600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1130, 1600}}</string>
			<key>sourceSize</key>
			<string>{1130, 1600}</string>
		</dict>
		<key>image/cover.png</key>
		<dict>
			<key>frame</key>
			<string>{{1133, 2113}, {984, 1440}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {984, 1440}}</string>
			<key>sourceSize</key>
			<string>{984, 1440}</string>
		</dict>
		<key>image/image_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2113}, {1130, 1600}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1130, 1600}}</string>
			<key>sourceSize</key>
			<string>{1130, 1600}</string>
		</dict>
		<key>image/merge.png</key>
		<dict>
			<key>frame</key>
			<string>{{2161, 2815}, {1024, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 1024}}</string>
			<key>sourceSize</key>
			<string>{1024, 1024}</string>
		</dict>
		<key>image/plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{1133, 3555}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
		<key>image/rainbow-jpg.png</key>
		<dict>
			<key>frame</key>
			<string>{{3145, 1789}, {746, 960}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {746, 960}}</string>
			<key>sourceSize</key>
			<string>{746, 960}</string>
		</dict>
		<key>image/rainbow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1800, 978}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1800, 978}}</string>
			<key>sourceSize</key>
			<string>{1800, 978}</string>
		</dict>
		<key>image/square.png</key>
		<dict>
			<key>frame</key>
			<string>{{1803, 1}, {1790, 1786}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1790, 1786}}</string>
			<key>sourceSize</key>
			<string>{1790, 1786}</string>
		</dict>
		<key>image/to.png</key>
		<dict>
			<key>frame</key>
			<string>{{2119, 1789}, {1024, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1024, 1024}}</string>
			<key>sourceSize</key>
			<string>{1024, 1024}</string>
		</dict>
		<key>image/victory.png</key>
		<dict>
			<key>frame</key>
			<string>{{1647, 3555}, {512, 512}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {512, 512}}</string>
			<key>sourceSize</key>
			<string>{512, 512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>image.png</string>
	</dict>
</dict>
</plist>
